/* General Page Styles */

@import "./animacije/animacije.css";
@import "./fontovi/fontovi.css";


.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 0;
}


.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #9c0036, #fa7d7d);
    width: 80%;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
}

.contact-us-container h1 {
    font-size: 70px;
    color: white;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    margin-bottom: 20px;
}

.contact-us-container p {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contact-form {
    width: 100%;
}



.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 50%;
    padding: 10px;
    border: none;
    margin-top: 30px; /* Povećavamo razmak između dugmeta i linije */
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #ff4c8b;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.contact-form button:hover {
    background-color: #e43e7b;
}

.contact-form button::after {
    content: '';
    position: absolute;
    width: calc(100% + 150px); /* Povećavamo širinu linije za 40px kako bi bila duža od dugmeta */
    height: 1px;
    background: linear-gradient(90deg, white, #f0f0f0);
    background-color: white;
    bottom: -40px; /* Povećavamo udaljenost linije od dugmeta */
    left: -75px;/* Dodajemo blagi pomak na desnu stranu */
    border-radius: 100px; /* Dodajemo zaobljenje krajeva */
}



/* Icon Styles */
.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Dodajemo ovaj red za vertikalno poravnanje */
    width: 100%;
    margin-top: 30px;
}

.contact-icons a {
    color: white;
    font-size: 32px;
    text-decoration: none;
    transition: color 0.3s ease, transform 1s ease-in-out; /* Dodajemo transition za transform */
    display: flex;
    flex-direction: column;
    align-items: center; /* Poravnaj ikonu i tekst vertikalno */
}

.contact-icons a:hover {
    color: #e43e7b;
    animation: bounce 1s infinite; /* Dodajemo animaciju */
}


.contact-icons p {
    color: white;
    font-size: 14px;
    text-align: center;
}


@media only screen and (max-width : 768px) {
    .contact-us-container h1 {
        font-size: 40px; /* Smanjite veličinu fonta za naslov na manjem ekranu */
        margin-bottom: 10px; /* Smanjite razmak ispod naslova */
    }
    
    .contact-us-container p {
        font-size: 16px; /* Smanjite veličinu fonta za paragrafe na manjem ekranu */
    }
    
    .contact-form button {
        width: 100%; /* Promijenite širinu dugmeta na 100% na manjem ekranu */
        margin-bottom: 20px; /* Uklonite marginu ispod dugmeta na manjem ekranu */
    }
    
    .contact-icons {
        display: flex;
        flex-direction: column; /* Postavite ikonice i tekst jedan ispod drugog */
        align-items: center; /* Centrirajte ikonice i tekst */
    }
    
    .contact-icons a {
        margin-bottom: 10px; /* Podesite razmak između ikonice i teksta */
        text-align: center; /* Centrirajte ikonice i tekst */
    }
    
}

