/* General Page Styles */

@import "./animacije/animacije.css";
@import "./fontovi/fontovi.css";

.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 0;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #9c0036, #fa7d7d);
    width: 80%;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
}

.contact-us-container h1 {
    font-size: 70px;
    color: white;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    margin-bottom: 20px;
}

.contact-us-container p {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contact-form {
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-form label {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    width: 100%;
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    max-width: none; /* Remove max-width restrictions */
    margin-left: -1px; /* Adjust these values to match the padding of the container */
    margin-right: 1px;
}

.contact-form button {
    width: 50%;
    padding: 10px;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #ff4c8b;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.contact-form button:hover {
    background-color: #e43e7b;
}

.contact-form button::after {
    content: '';
    position: absolute;
    width: calc(100% + 150px);
    height: 1px;
    background: linear-gradient(90deg, white, #f0f0f0);
    background-color: white;
    bottom: -40px;
    left: -75px;
    border-radius: 100px;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.contact-icons a {
    color: white;
    font-size: 32px;
    text-decoration: none;
    transition: color 0.3s ease, transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icons a:hover {
    color: #e43e7b;
    animation: bounce 1s infinite;
}

.contact-icons p {
    color: white;
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width : 768px) {
    .contact-us-container h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .contact-us-container p {
        font-size: 16px;
    }

    .contact-form button {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-icons a {
        margin-bottom: 10px;
        text-align: center;
    }
}
