@import "./animacije/animacije.css";
@import "./fontovi/fontovi.css";

.content-wrapper {
    min-height: calc(100% - 100px);
   
}

/* Media query za mobilne uređaje */
@media only screen and (max-width: 768px) {
    .navbar-donji {
        padding: 10px; /* Smanjujemo padding */
    }

    .navbar-donji-logo h1 {
        font-size: 24px; /* Smanjujemo veličinu fonta */
        margin-left: 10px; /* Smanjujemo margin za bolji raspored */
    }

    .navbar-donji-menu {
        margin-left: 0; /* Poništavamo margin kako bi se stavke menua bolje rasporedile */
        display: flex; /* Prikazujemo stavke u flex kontejneru */
        flex-direction: row; /* Postavljamo horizontalni raspored stavki */
    }

    .navbar-donji-item {
        margin: 0 5px; /* Smanjujemo margin između stavki */
    }

    .navbar-donji-link {
        font-size: 16px; /* Smanjujemo veličinu fonta stavki */
    }

    .navbar-donji-followus {
        display: none; /* Sakrivamo tekst "Follow Us" na malim ekranima */
    }
}
                