@import "animacije/animacije.css";
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto', 'sans-serif';
    
}

a{
    text-decoration: none;
}

/*Neki Recepti*/

@import "./nekiRecepti.css";

/*Neki Recepti*/

@import "./navbar.css";

@import "./uvod.css";

.main{
    padding-block: 3vw;
}

.container{
    padding-inline: 10vw;
}

@media screen and (max-width: 1280px){
    .cointainer{
        padding-inline: 18vw;
    }
}


@media screen and (max-width: 1050px){
    .cointainer{
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 480px){
    .cointainer{
        padding-inline: 3vw;
    }
    .section.nrecepti{
        .tekst{
            width: 100%;
        }
        .col1.slike{
            padding:30px
        }
        .slike{
            grid-template-columns: repeat(1, 1fr);
            .uvod-slike{
                &:hover{
                    transform: scale(1.05) !important;
                }
            }
        }
    }


}

@media screen and (max-width: 768px){
    .navbar{
        
        .nav-links{
            display: none;
        }

        .sidebar-btn{
            display: block;
        }
    }

   
    .cointainer{
        padding-inline: 6vw;
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .section.nrecepti{
        
        .col1.slike{
            width:100%; 
            padding-top: 35px !important;
            padding-bottom: 35px !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .col1.tabela{
            width:100%;
        }
    }


    .search-bar{
        width:350px !important;
        
    }
    
    .video iframe {
        border-radius: 10px;
        width: 400px !important;
        height: 250px !important;
    }

    /*.col2{
        width: 100% !important;
    }*/

    .columns {
        flex-direction: column !important;
    }


    .col2.sastojci {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .column1 {
        width: 100% !important; /* Each column takes up the full width */
        
    }

    .column2 {
        width: 100% !important; /* Each column takes up the full width */
        padding-top: 0 !important;
    }
    
    
    
}
