@import "animacije/animacije.css";
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto', 'sans-serif';
    
}

a{
    text-decoration: none;
}

/*Neki Recepti*/

@import "./nekiRecepti.css";

/*Neki Recepti*/

@import "./navbar.css";

@import "./uvod.css";

.main{
    padding-block: 3vw;
}

.container{
    padding-inline: 10vw;
}

@media screen and (max-width: 1280px){
    .cointainer{
        padding-inline: 18vw;
    }
}


@media screen and (max-width: 1050px){
    .cointainer{
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 480px){
    .cointainer{
        padding-inline: 3vw;
    }
    .section.nrecepti{
        .tekst{
            width: 100%;
        }
        .col.slike{
            padding:30px
        }
        .slike{
            grid-template-columns: repeat(1, 1fr);
            .uvod-slike{
                &:hover{
                    transform: scale(1.05) !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .navbar{
        
        .nav-links{
            display: none;
        }

        .sidebar-btn{
            display: block;
        }
    }

   
    .cointainer{
        padding-inline: 6vw;
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .section.nrecepti{
        
        .col.slike{
            padding-top: 35px !important;
            width:100%;
        }

        .col.tabela{
            width:100%;
        }
    }

    .tabela{
        top: 0;
        left: 0;
        box-shadow: 3px 0 5px var(--shadow-color);
        animation: 0.5s slideInLeft;
    
        .tabela-link{
            display:block;
            padding: 10px 5px;
            border-left: .3em solid transparent;
            color: var(--text-color);
            font-size: 1.2em;
            &.active{
                border-left-color: var(--primary-color);
            }
            
            &:hover{
                border-left-color: var(--primary-color);
               /*  moze a i ne mora background-color: rgba(0,0,0,0.02); */
                color: var(--primary-color);
                box-shadow: 3px 0 5px var(--shadow-color);;
            }
        }
    }
    
    
    
    
}
