.navbar.container{
    padding-inline: 0vw !important;
    margin-bottom: 30px;
}

.main{
    padding-block: 0vw !important;
}

.navbar{
    border-radius: 10px;
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    .logo{
        font-size: 1.5em;
        font-weight: bolder;
        margin-left: 5px;
        color: var(--primary-color);
        text-shadow:0 1px 3px var(--shadow-color);
        span{
            color:var(--text-color);
        }
    }
    .nav-links{
        margin-right: 10px;
        display: flex; /* Use flexbox */
        align-items: center; /* Vertically center items */
        a{
            margin-left: 8px;
            margin-right: 2px;
            color: var(--text-light);
            letter-spacing: 2px;
            text-transform: uppercase;
            position:relative;
            &::before{
                content: '';
                display:inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);
                transition: transform 0.2s ease-in-out;
            }
            &:hover{
                &::before{
                    transform: scaleX(1);
                }
            }
            &.active{
                color:var(--primary-color);
                font-weight:bold;
            }
        }
    }

    .sidebar-btn{
        margin-right: 10px;
        height: 28px;
        width: 30px;
        position:relative;
        display: none;
        .bar{
            border-radius: 5px;
            height: 6px;
            width: 100%;
            background-color: var(--text-color);
            position: absolute;
            transition: transform 0.5s ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform: translateY(-100%);
            }
        }

        &.active{
            .bar{
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform: translate(0, -50%) scale(1) rotate(45deg);
                }
                &:nth-child(2){
                    transform: scaleX(0) translateY(-50%);
                }
                &:nth-child(3){
                    transform: translate(0, -50%) scale(1) rotate(-45deg);
                }
            }
        }

    }
}

/*mozemo napraviti i da home, recipes 
i setting kada se otvara sidebar se 
ucitavaju jedan po jedan a ne svi odjednom*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.2),
                3px 0 5px var(--shadow-color);
    animation: 0.5s slideInLeft;
    z-index: 999;
    .sidebar-link{
        display:block;
        padding: 10px 5px;
        border-left: .3em solid transparent;
        margin-bottom: 1em;
        color: var(--text-color);
        font-size: 1.2em;
        &.active{
            border-left-color: var(--primary-color);
        }
        svg{
            width: 1.2em;
            margin-right: .5em;
        }
        &:hover{
            border-left-color: var(--primary-color);
           /*  moze a i ne mora background-color: rgba(0,0,0,0.02); */
            color: var(--primary-color);
            box-shadow: 3px 0 5px var(--shadow-color);;
        }
    }
}

@media screen and (max-width: 910px){
    .navbar{
        
        .nav-links{
            display: none !important;
        }

    }
    .sidebar-btn{
        display: block !important;
    }
}


    
    

