.section.nrecepti{
    .tekst{
        background: linear-gradient(90deg, #9c0036, #fa7d7d);
        color: white;
        font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
        width: 100%;
        padding-bottom: 35px;
        padding: 35px;
        text-align: center;
        font-size: 70px;
        border-radius: 10px;
        box-shadow: 6px 3px 5px var(--shadow-color);
        animation: .5s popOut forwards;
        background-color:aliceblue;
    }

    .recipes {
        gap: 0px; 
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .col1.slike{
        padding-top: 35px;
        width:69%;
    }
    .col1.tabela{
        width:31%;
    }
    padding-top: 60px;
    border-bottom-color: var(--primary-color);
    .tekst-uvod{
        text-align: center;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        border: 2px solid rgb(255, 0, 86); /* Dodajemo okvir */
        border-radius: 10px; /* Dodajemo zaobljenost ivica */
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation: .9s popOut forwards;
        padding: 15px;
    }
    
    
    .slike{
            padding-right: 1.9em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4vw;
            .uvod-slike{
                transform: scale(0);
                opacity: 0;
                animation: .5s popOut forwards;
                border-radius: 3px;
                position:relative;
                overflow: hidden;
                transition: transform 0.3s;
                box-shadow: 0 5px 8px var(--shadow-color);
                &:nth-child(1){
                    animation-delay: .1s;
                }
                &:nth-child(2){
                    animation-delay: .2s;
                }
                &:nth-child(3){
                    animation-delay: .3s;
                }
                &:nth-child(4){
                    animation-delay: .4s;
                }
            
                &:hover{
                    transform: scale(1.1) !important;
                }
            }
        }
        
    }

.ime {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.card img {
    width: 100%;
    height: auto;
}

.card .info {
    padding: 10px;
    text-align: center;
}





