.section.nrecepti{
    .tekst{
        width: 100%;
        padding-bottom: 35px;
        padding: 35px;
        text-align: center;
        font-size: 50px;
        border-radius: 10px;
        box-shadow: 6px 3px 5px var(--shadow-color);
        animation: .5s popOut forwards;
        background-color:aliceblue;
    }
    .col1.slike{
        padding-top: 35px;
        width:69%;
    }
    .col1.tabela{
        width:31%;
    }
    padding-top: 60px;
    border-bottom-color: var(--primary-color);
    
    .slike{
            padding-right: 1.9em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4vw;
            .uvod-slike{
                transform: scale(0);
                opacity: 0;
                animation: .5s popOut forwards;
                border-radius: 3px;
                position:relative;
                overflow: hidden;
                transition: transform 0.3s;
                box-shadow: 0 5px 8px var(--shadow-color);
                &:nth-child(1){
                    animation-delay: .1s;
                }
                &:nth-child(2){
                    animation-delay: .2s;
                }
                &:nth-child(3){
                    animation-delay: .3s;
                }
                &:nth-child(4){
                    animation-delay: .4s;
                }
            
                &:hover{
                    transform: scale(1.1) !important;
                }
            }
        }
        
    }

.ime {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.tabela{

    box-shadow: 3px 0 5px var(--shadow-color);
    animation: 0.5s slideInRight;
    .tabela-naslov{
        font-size: 1em;
        display:block;
        padding: 10px 5px;
        border-left: .3em solid transparent;
        color: var(--primary-color);
        background-color: var(--shadow-color);
        font-size: 1.5em;
        animation: 0.5s slideInRight;
    }
    .tabela-link{
        animation: 0.5s slideInRight;
        height: 50px;
        display:block;
        padding-top: 20px;
        padding-left: 5px;
        border-left: .3em solid transparent;
        color: var(--text-color);
        font-size: 1em;
        &.active{
            border-left-color: var(--primary-color);
        }
        
        &:hover{
            border-left-color: var(--primary-color);
           /*  moze a i ne mora background-color: rgba(0,0,0,0.02); */
            color: var(--primary-color);
            box-shadow: 3px 0 5px var(--shadow-color);;
        }
    }
}

