@import "./fontovi/fontovi.css";
@import "./animacije/animacije.css";


.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    flex: 2;
    color: black;
    font-size: large;

}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 55px;
    animation: .4s popOut forwards;
}

.text-container h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 0;
    color: rgb(255,0,86);
}

.text-container p {
    margin-bottom: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
    animation: .9s popOut forwards;
}

.images-with-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: 2px solid rgb(255, 0, 86); /* Dodajemo okvir */
    border-radius: 10px; /* Dodajemo zaobljenost ivica */
}

.image-text-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.naslov-kosmomi {
    color: rgb(255,0,86);
    font-size: 50px;
    margin-left: 340px;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    animation: .9s popOut forwards;
}



.image-text-item img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 150px;
    animation: .4s popOut forwards;
    margin-right: 200px;
}

.image-text-item p {
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    animation: .9s popOut forwards;
}

.iframe-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iframe-container h1{
    color: rgb(255,0,86);
    font-size: 70px;
    margin-left: 120px;
    margin-right: 150px;
    margin-top: 15px;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    animation: .9s popOut forwards;
}


.google-maps-iframe {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
}

.about-us-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
    
}

@media  only screen and (max-width: 900px){
    .about-us-container {
        flex-direction: column;
        padding: 10px;
    }

    .text-container {
        order: 2;
        margin-top: 20px;
    }
}


@media only screen and (max-width: 768px){
    
    .navbar{
        
        .nav-links{
            display: none;
        }

        .sidebar-btn{
            display: block;
        }
    }
    .images-with-text-container{
        .image-text-item{
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: justify;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .naslov-kosmomi {
        align-items: center;
        margin-right: 85%;
        text-align: justify;
        text-align: center;
    }
    .iframe-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 10px; /* Adjust padding as needed */
        margin: 20px 0; /* Add margin for spacing */
      }
    
    .iframe-container h1 {
        margin: 0; /* Reset margin */
        font-size: 24px; /* Adjust font size */
        text-align: center; /* Center align heading */
    }
    
    .google-maps-iframe {
        width: 100%; /* Make iframe full width */
        height: 200px; /* Set desired height */
        margin-top: 10px; /* Add margin for spacing */
        border-radius: 5px; /* Add border radius */
        ;
    }

    .naslov-kakodonas{
        align-items: center;
        text-align: justify;
        text-align: center;
        display: inline;
    }
    .naslov-kakodonas h1{
        font-size: 50px;
    }
    .cointainer{
        padding-inline: 6vw;
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }   
}