@import "./fontovi/fontovi.css";


.recept h2{
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    color: rgb(255,0,86);
    animation: .9s popOut forwards;
}

.recept p{
    text-align: justify;
    animation: .9s popOut forwards;
}


.recept{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 0, 86); /* Dodajemo okvir */
    border-radius: 10px; /* Dodajemo zaobljenost ivica */
    padding: 15px;
}



.recipe-page {
    display: flex;
   flex-direction: column;
    align-items: center;

    .col2{
        width: 50%;
        box-sizing: border-box;
        padding: 30px;

    }

    .col2.sastojci{
        display: flex;
        flex-wrap: wrap;
    }

    .col3.sastojci{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-top: 20px;
    }

    .column1{
        flex: 1; 
        width: 50%; 
        box-sizing: border-box;
        padding: 10px;
        
    }

    .column2{
        flex: 1;
    width: 50%; 
    box-sizing: border-box;
    padding: 10px;
    }

    .column3{
        flex: 1; 
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    
    .columns {
        display: flex;
        flex-wrap: wrap; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #f0f0f0;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    

    
    .naziv-recepta{

        width:100%;
        text-align: center;
        padding-top: 15px;
        font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
        .porijeklo{
            padding-top: 20px;
            font-size: 50px;
            color: rgb(255,0,86);
        }
    }

    .naziv-recepta h1{
        color: whitesmoke;
        font-size: 50px;
        background: linear-gradient(90deg, #9c0036, #fa7d7d);
        border-radius: 8px;
    }

    .citat{
        width:100%;
        text-align: center;
        color:grey;
        padding-bottom: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.col2.slika img {
    max-width: 100%; /* Postavlja najvecu sirinu na 100% njenog kontejnera */
    height: auto; 
}

.crossed{
    text-decoration: line-through;
    color: rgb(255,0,86);
}

.citat p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
    padding-bottom: 20px;
}
.check {
    margin-right: 10px; 
    transform: scale(1.2); 
    margin-bottom: 10px;
    margin-top: 12px;
}

.check1 {
    margin-right: 10px; 
    transform: scale(1.2); 
    margin-bottom: 10px;
    margin-top: 12px;
}

label {
    font-size: 1.1em; 
    margin-left: 5px; 
}

.col2.sastojci h2{
    margin-bottom: 10px !important;
    width: 25% !important;
    
}

.video iframe {
    border-radius: 10px;
    width: 560px;
    height: 315px;
}

.video{
    padding-top: 40px;
}
