@import "./animacije/animacije.css";
@import "./fontovi/fontovi.css";

.heading h1{
    font-size: 70px;
    font-family: 'PisanaSlova', 'PisanaSlova', Times, serif, 'PisanaSlova';
    color: rgb(255,0,86);
    font-weight:900;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 0px !important;
    animation: slideIn2 .9s forwards;
}
.heading h4{
    font-family: Georgia, 'Times New Roman', Times, serif;

    padding-top: 15px;
    color:grey;
    text-align: center;
    animation: slideIn .9s forwards;
}
.searchBox{
    text-align: center;
    margin:3rem;
    animation: slideIn2 .9s forwards;
}




.search-bar{
    width:400px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    background: linear-gradient(90deg, #9c0036, #fa7d7d) transparent;
    color:white;

}
.notSearch{
    font-size: 35px;
    color: grey;
    font-weight:900;
    animation: slideIn2 .9s forwards;
}
.contain{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card{
    width:274px;
    height:420px;
    margin:1.5rem;
    border-radius: 8px;
    box-shadow: 0 7px 12px grey;
    box-sizing: border-box;
    overflow: auto;
    position:relative;
    text-align: center; 
}
.card img{
    width:100%;
}
.card .info{
    color:grey;  
    text-align: center;
  }
 
  .card .info h2{
      margin:0;
      font-weight: 900;
      margin-top: 15px;
  }
  .card .info p{
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.card:hover:before{
    height: 100%;  
   
}

.card .recipe{
    position: absolute;
    top:0;
    left:0;
    text-align: justify;
    padding: 0.5rem 1rem;
    display: none;
    transition: 0.3s all;
}
.card:hover .recipe{
    display:block;
}
.recipe h2{
    margin-bottom:10px;
}
.recipe img{
    width: 100px;
    height:100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipe p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe a{   
    display: block;
    text-align: center;
}

.dugme{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255,0,86);
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}