
.heading h1{
    color:grey;
    font-size: 48px;
    font-weight:900;
    letter-spacing: 1px;
  
    text-align: center;
}
.heading h4{
    color:grey;
    text-align: center;
}
.searchBox{
    text-align: center;
    margin:3rem;
    
}
.search-bar{
    width:400px;
    height:40px;
    border:none;
    outline:none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    background-color: grey;
    color:white;
}
.notSearch{
    font-size: 35px;
    color: grey;
    font-weight:900;
}
.contain{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width:300px;
    height:400px;
    margin:1.5rem;
    border-radius: 8px;
    box-shadow: 0 7px 12px grey;
    box-sizing: border-box;
    overflow: auto;
    position:relative;
}
.card img{
    width:100%;
}
.card .info{
    color:grey;  
    text-align: center;
  }
 
  .card .info h2{
      margin:0;
      font-weight: 900;
      margin-top: 15px;
  }
  .card .info p{
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.card:hover:before{
    height: 100%;  
   
}

.card .recipe{
    position: absolute;
    top:0;
    left:0;
    text-align: justify;
    padding: 0.5rem 1rem;
    display: none;
    transition: 0.3s all;
}
.card:hover .recipe{
    display:block;
}
.recipe h2{
    margin-bottom:10px;
}
.recipe img{
    width: 100px;
    height:100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipe p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe a{   
    display: block;
    text-align: center;
}